
<h2><%= @song.title %></h2>

<% @song.docs.each do |doc| %>
	<%= link_to doc.name, doc_path(doc) %><br/>
	<% if doc.format === 'pdf' %> 
		<h1><%= doc.name %> to be rendered from Cloudinary</h1>

	<% end %>
<% end %>