
<div class='row'>
	<div class='col-lg-12'>
	<% @pdfs.each do |pdf| %>
		<ul>
			<strong><li><%= link_to pdf["secure_url"].split('/').last.gsub('.pdf', '').gsub('%20', ' '), pdf["url"] %></li></strong>
			<li>format: <%= pdf["format"] %></li>
			<li>secure_url: <%= pdf["secure_url"] %></li>
		</ul>
		<hr />
		<% end %>
	</div>
</div>
 